body, html{
    height: 100%;
    margin: 20px;
}

nav li{
    display: inline;
    margin: 20px
}

nav ul{
    background-color: green;
    margin: 0;
    list-style-type: none;
    width: 100%;
    padding: 20px
}

nav{
    display: block;
    color: white
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}

nav a:hover{
    color: black;
}

.hero-image{
    background-image:url("../images/IMG_0027.JPG");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;

}

.hero-text{
    color: whitesmoke;

}

#top{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

#profile-image{
    width: 20%;
    border-radius: 100%;
}

#profile_text{
    text-align: center;
}

